

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
</script>

<div class="full-width parallax1 px-o container-fluid page0">
  <!-- Jumbotron -->
  <div class="jumbotron text-center container">

    <!-- Title -->
    <h1 class="card-title h1 pb-2">Poojan Homeo-Care</h1>

    <!-- Card image -->
    <div class="view overlay my-4">
      <img src="" class="img-fluid" alt="" height="600" width="800">
      <a href="#">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>


    <div class="container">
      <p class="card-text">
        " Homeopathy cures a greater percentage of cases than any other method of treatment. Homeopathy is the latest and refined method of treating patients economically and non-violently. "
      </p>
      <h4 class="indigo-text h3 mb-4">  ~ Mahatma Gandhi</h4>
    </div>

  </div>
  <!-- Jumbotron -->
</div>
<div class="parallax1"></div>


<!-- HTML Setup -->
<section>
<h1 align = "center", class="h1", style="color: white"> Services Offered: </h1>
  <br>
	<!-- cards::before -->
	<div class="container">

		<div class="row">
			<div class="col-lg-12">
				<div class="row card-animate">
					<div class="col-4-lg col-6-md col-12-sm sp">
						<div class="card border">
							<div class="card-body">
								<div class="card-title">
									Card Title 1
								</div>
								<p class="card-text">Card Body</p>
							</div>
						</div>
					</div>
					<div class="col-4-lg col-6-md col-12-sm sp">
						<div class="card border">
							<div class="card-body">
								<div class="card-title">
									Card Title 2
								</div>
								<p class="card-text">Card Body</p>
							</div>
						</div>
					</div>
					<div class="col-4-lg col-6-md col-12-sm sp">
						<div class="card border">
							<div class="card-body">
								<div class="card-title">
									Card Title 3
								</div>
								<p class="card-text">Card Body</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
  <br>
</section>



<div class="how">
  <h1 class="h1"> How To Use</h1>

</div>
