

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
</script>


<!-- Footer -->
<footer class="page-footer font-small indigo">
  <div class="container">
    <div class="row text-center d-flex justify-content-center pt-5 mb-3">
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!">About us</a>
        </h6>
      </div>
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!">Awards</a>
        </h6>
      </div>
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!">Help</a>
        </h6>
      </div>
    </div>
    <hr class="rgba-white-light" style="margin: 0 15%;">
    <br>
    <div class="container" style = "padding: 10px;">
      <h2 class="h1">Contact Us</h2>
      <br>
      <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 300px">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d230.78781984522175!2d73.2108450507681!3d22.255056523638732!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395fc44b5075f95d%3A0x3a94e5f26c3fc368!2sGanga%20Sagar%20Complex!5e0!3m2!1sen!2sin!4v1598789110689!5m2!1sen!2sin" width="400" height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>

      <table>
        <tr>
          <th>Mobile: </th>
          <td>9376225507</td>
        </tr>
        <tr>
          <th>Email: </th>
          <td>phd1818@gmail.com, pooravd@yahoo.co.in</td>
        </tr>
        <tr>
          <th>Address: &nbsp</th>
          <td>
              Address: 35, Gangasagar Complex (C-Tower), Nr. Ankruti Hospital, Susen-Tarsali Road, Vadodara, Pin 390009
          </td>
        </tr>
      </table>


    </div>
    <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">
      <div class="col-md-8 col-12 mt-5">
      </div>
    </div>
    <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">
    <div class="row pb-3">
      <div class="col-md-12">
        <div class="mb-5 flex-center text-center">
        <ul class = "linkicons" style = "  display: flex !important;
          position: absolute !important;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);">
          <li class = "dli">
            <a href="#">
              <i class="fab fa-facebook-f icon dicon"></i>    </a>
          </li>
          <li class = "dli">
            <a href="#"><i class="fab fa-twitter icon dicon"></i></a>
          </li>
          <li class="dli">
            <a href="#"><i class="fab fa-linkedin-in icon dicon"></i></a></li>
          <li class="dli">
            <a href="#"><i class="fab fa-instagram icon dicon"></i></a></li>
        </ul>
        </div>
      </div>
    </div>
  </div>
  <br><br>
  <div class="footer-copyright text-center py-3" style = "background: black; border-top: white dashed 5px">© 2020 Copyright: DeSinister</div>
</footer>
<!-- Footer -->
